body {
    font-family: 'Roboto Condensed', sans-serif;
    margin: 0;
}

.background {
    background-image: url(image/image/picture.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.top-div {
    padding-top: 10%;
}

.heder-text {

    font-size: 70px;
    text-align: center;
    color: white;
}

.first-pera {
    color: white;
    text-align: center;
    padding-bottom: 25px;
}

#donate-today {
    font-size: 60px;
    text-align: center;
    padding-top: 2%;
}

#way-donate {
    text-align: center;
    font-size: 20px;
    padding-bottom: 2%;
    color: gray;
}

.box-ammount {
    display: flex;
    color: rgb(73, 67, 67);
    margin-bottom: 30px;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}

.fifth-box {
    padding: 2%;
    background-color: rgb(212, 205, 205);
    margin: 2px 6px;
    border-radius: 3px;
}

.selected-box {
    border: 3px solid rgb(219, 60, 60);
    background-color: rgb(235, 196, 201);
    color: rgb(219, 60, 60);
}

.box-extra-amount {
    padding-left: 35%;
    margin-bottom: 40px;
}

#other-amount {
    border-top: 0;
    border-right: 0;
    border-left: 0;
    font-size: 14px;
    width: 400px;
    height: 25px;
    text-align: center;
    padding-bottom: 10px;
    margin-bottom: 2px;
    margin-top: 7px;
}

.donate-button {
    text-decoration: none;
    font-weight: 700;
    border-radius: 2px;
    padding: 15px 50px;
    text-align: center;
    margin-left: 45%;
    background-image: linear-gradient(rgb(233, 107, 128), rgb(224, 70, 78));
    color: white;
}

.Donate-plan {
    font-size: 50px;
    text-align: center;
    padding-top: 5%;
}

.donate-plan-describe {
    text-align: center;
    font-size: large;
    padding-bottom: 2%;
}

.flex-div {
    display: flex;
    margin-right: 10%;
    margin-left: 10%;
}

.three-box {
    padding: 100px 30px 30px 20px;
    margin: 2px 2px;
    border-radius: 10px;
    text-align: left;
}

#first-div-color {
    background-color: rgb(181, 204, 204);
    background-image: url(image/icon/food.png);
    background-repeat: no-repeat;
    background-position-x: 10%;
    background-position-y: 20%;
}

#second-div-color {
    background-color: rgb(212, 199, 212);
    background-image: url(image/icon/shelter.png);
    background-repeat: no-repeat;
    background-position-x: 10%;
    background-position-y: 20%;
}

#third-div-color {
    background-color: rgba(226, 210, 166, 0.849);
    background-image: url(image/icon/Frame-1.png);
    background-repeat: no-repeat;
    background-position-x: 10%;
    background-position-y: 20%;
}

#footer-id {
    margin: none;
    padding-top: 20px;
}

#footer-div {
    background-color: rgb(33, 27, 48);
    padding: 50px;
}

#be-humble {
    color: rgb(204, 65, 65);
    text-align: center;
    font-family: 'Pacifico', cursive;
}

#footer-p {
    color: rgb(211, 200, 200);
    text-align: center;
}

.Extra-mask-donation {
    display: flex;
    margin-top: 160px;
}

.Extra-mask-donation {
    width: 40%;
    margin-left: 200px;
    margin-right: 40px;
}

.Extra-headS {
    font-size: 40px;
    text-align: left;
}

.details {
    font-size: 20px;
    margin-top: 30px;
}

#number-one {
    padding-top: 20px;
    padding-bottom: 20px;
}

#number-two {
    text-decoration: none;
    background-image: linear-gradient(rgb(62, 62, 192), rgb(70, 98, 224));
    color: white;
    font-weight: 700;
    border-radius: 3px;
    padding: 15px 40px;
    text-align: left;
}

.image-div {
    margin-left: 100px;
}

#image-tag {
    width: 240%;
    margin-left: 10x;
    margin-top: 50px;
}

.last-section {
    margin-top: 150px;
}

#last-div {
    text-align: center;
    margin-left: 30%;
    margin-right: 30%;
}

.last-head {
    text-align: center;
    font-size: 60px;
}

.gmail {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 90px;
    background-color: blanchedalmond;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 5%;
    border-radius: 9px;
}

#in-gmail {
    font-size: 20px;
    font-weight: 700;
    width: 400px;
    height: 40px;
    background-color: rgb(194, 184, 170);
    text-align: left;
    border-radius: 5px;
    padding-left: 20px;
    border-color: unset;
}

#subs-button {
    text-decoration: none;
    border-top-right-radius: 5px;
    background-image: linear-gradient(rgb(62, 62, 221), rgb(4, 18, 82));
    color: white;
    font-weight: 700;
    padding: 13px 40px;
    text-align: center;
    margin: -2px;
}